---
---

@import "main";
@import "../assets/css/bootstrap/bootstrap";


body{
	background: rgb(36,37,45);
	color: rgb(200, 200, 200);
	font-family: 'Roboto Mono', monospace;
}
.current {
  color: rgb(255,230,180);
}