---
---

@import "main";
@import "../assets/css/bootstrap/bootstrap";

@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}

html { 
	font-size: 87.5%; 
}
body{
	background: rgb(36,37,45);
	color: rgb(200, 200, 200);
	font-family: 'Roboto Mono', monospace;
	font-size: 1rem;
}
h1{
	font-size: 2rem;	
	margin-bottom: 0rem;
}
h2{
	font-size: 1.65rem;	
}
h3{
	font-size: 1.4rem;	
}
h4{
	font-size: 1.25rem;	
}
p {	
	text-align: justify;
}

a {
	text-decoration: underline;
	color: rgb(220,220,220);
}

hr {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    border-top: 1px solid rgba(120, 120, 120, 0.1);
}
.current {
  color: rgb(255,230,180);
}



.context {
	color: rgb(80,80,80);
}
.container {
	margin-top: 1rem;
}
.experience{
	text-align: left;
}
.endnote {
	text-align: center;
	color: rgb(100,100,100);
}

ul {
	padding-left: 2rem;
}

.indent {
	margin-left: 1rem;
}